<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Keynotes.DEV | Forget Password</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>

    <div class="wrapper">

      <p class="headline headline__text">Your username is
        {{username}}
        and your email is
        {{email}}.</p>

      <p class="headline headline__text">Click below to reset your password.</p>

      <button class="btn">
        <a class="headline headline__text headline--white" href={{authlink}}>

          Reset Password
        </a>
      </button>

      <hr />

      <p class="headline headline__text">If you’re having trouble clicking the
        Reset Password button, copy and paste the URL below into your web
        browser.
      </p>

      <a class="headline headline__small" href={{authlink}}>{{authlink}}</a>

    </div>

  </body>

</html>